html {
  background: url(../img/background-1600.jpg) fixed no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-small.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-small.jpg', sizingMethod='scale')";
}

.center {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 50%;
	text-align: center;
}

.sblogo-svg {
  width: 35%;
  height: 35%;
  max-width: 500px;
  max-height: 500px;
  min-width: 40px;
  min-height: 40px;
}

.sblogo-svg-s,
.sblogo-svg-b {
	fill: #f6f6f6;
}